* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.calc-box {
    width: 380px;
    padding: 20px;
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.display-box {
    margin-bottom: 15px;
}

#display {
    width: 100%;
    height: 65px;
    border: 2px solid #ccc;
    border-radius: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    outline: none;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    height: 65px;
    width: 65px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grey {
    background-color: #e5e7eb;
    color: #000;
}

.opBtn {
    background-color: #0a75bc;
    color: #fff;
}